/* Font & Base Styles */

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Krona One", sans-serif;
    background-image: url("../images/beige-tiles.webp");
    margin: 0;
    font-weight: 400;
    font-size: 16px; 
}

/* navbar */ 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #C0A3BB;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  /* menu item*/ 
  .menu-items {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }


/* Hero Section */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero-text {
    position: relative;
    z-index: 2;
    text-align: center;
    color: black;
    font-size: 2.5rem;
    max-width: 700px;
    padding: 1rem 2rem;
    border-radius: 12px;
  }

  .hero-description {
    background-color: #BC97D3;
    padding: 60px 20px; 
    width: 100%;
    text-align: center;
  }
  
  .hero-description h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 24px;
    line-height: 1.8;
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
  }

  /* Services Section */
  
  .hero-text-services {
    position: absolute;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    max-width: 900px;
    padding: 1rem 2rem;
    border-radius: 12px;
  }

  /* Circle Images */

  .circle-row {
    display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-items: center; 
  background-color: #BC97D3;
  }

  .circle-item {
    text-align: center;
    color: white;
}

.circle-item h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}

.circle-item img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;   
    margin-right: auto;  
}

/* Work Section */

.hero-work {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #BC97D3;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    margin: 0 auto;
  }
  
  .photo-item {
    aspect-ratio: 1 / 1; 
    overflow: hidden;
  }
  
  .photo-item img {
    width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  }

  /* Contact Us */

  .contact-section {
    padding: 40px;
    background-color: #BC97D3;
    text-align: center;
  }
  
  .contact-section h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    height: 150px;
    resize: vertical;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #ECBAE3;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: rgb(80, 80, 170);
  }

/* recent work card */
.recent-work {
    padding: 60px 0;
    background-color: #5B2565;
    text-align: center; 
  }

  .recent-work h2 {
    text-align: center;
    margin: 0 auto 40px auto; 
    background-color: #D8AEE1;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 999px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #2A004A;
  }
  
  .news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center; 
    margin: 0 auto; 
    max-width: 1100px; 
  }
  .news-card {
    width: 300px;
    min-height: 400px;
    background: #ECBAE3;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

    display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  
  .business-name {
    background-color: #B59DDB; 
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 30px;
  }

  .news-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .news-card h3 {
    margin: 12px 0 0;
  }
  
  .news-card p {
    margin-top: 8px;
    font-size: 0.9rem;
  }

  /* Footer */

.footer {
    background-color: #C0A3BB;  
    color: black;  
    padding: 40px 20px;  
    font-size: 15px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    max-width: 1200px;  
    margin: 0 auto;  
  }
  
  .footer-social {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .footer-social img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    align-items: center;
  }

  .footer-left, .footer-right {
    flex: 1;  
    font-size: 15px;
  }
  
  .footer-left {
    text-align: left;  
    font-size: 15px;
  }
  
  .footer-right {
    list-style: none;
    text-decoration: none;
    text-align: right;  
    font-size: 20px;
    color: black; 
  }

  .footer-right a{
    text-decoration: none;
    color: black; 
  }

  footer h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0;
  }

  .footer-tagline {
    margin-left: 20px;
    margin-top: 40px;
  }

